.u-section-1 {background-image: url("images/Tavoladisegno8botton2.png")}
.u-section-1 .u-sheet-1 {min-height: 875px}
.u-section-1 .u-image-1 {width: 96px; height: 48px; margin: 382px 340px 0 auto}
.u-section-1 .u-image-2 {width: 168px; height: 168px; animation-duration: 1000ms; margin: 8px auto 0 486px}
.u-section-1 .u-image-3 {width: 102px; height: 140px; filter: brightness(0.7); margin: -168px 337px 0 auto}
.u-section-1 .u-image-4 {width: 30px; height: 32px; filter: brightness(0.7); margin: -69px 409px 60px auto} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 721px}
.u-section-1 .u-image-1 {width: 76px; height: 38px; margin-top: 306px; margin-right: 315px}
.u-section-1 .u-image-2 {width: 107px; height: 107px; margin-top: 32px; margin-left: 417px}
.u-section-1 .u-image-3 {margin-top: -133px; margin-right: 303px}
.u-section-1 .u-image-4 {margin-right: 375px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 520px}
.u-section-1 .u-image-1 {width: 66px; height: 33px; margin-top: 223px; margin-right: 220px}
.u-section-1 .u-image-2 {width: 87px; height: 67px; margin-top: 25px; margin-left: 313px}
.u-section-1 .u-image-3 {width: 77px; height: 107px; margin-top: -87px; margin-right: 214px}
.u-section-1 .u-image-4 {width: 24px; height: 24px; margin-top: -52px; margin-right: 268px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 406px}
.u-section-1 .u-image-1 {width: 58px; height: 29px; margin-top: 174px; margin-right: 171px}
.u-section-1 .u-image-2 {width: 67px; height: 52px; margin-top: 16px; margin-left: 237px}
.u-section-1 .u-image-3 {width: 58px; height: 80px; margin-top: -60px; margin-right: 171px}
.u-section-1 .u-image-4 {width: 18px; height: 18px; margin-top: -39px; margin-right: 211px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 612px}
.u-section-1 .u-image-1 {margin-top: 262px; margin-right: 27px}
.u-section-1 .u-image-2 {width: 100px; height: 100px; margin-top: 23px; margin-left: 120px}
.u-section-1 .u-image-3 {width: 89px; height: 122px; margin-top: -111px; margin-right: 12px}
.u-section-1 .u-image-4 {width: 26px; height: 26px; margin-top: -59px; margin-right: 75px} }